[Unit]
Description=API Gateway Service Application
After=network.target

[Service]
Environment="QUOTES_API=http://35.208.5.221"
User=pranjalpimpale4
WorkingDirectory=/home/pranjalpimpale4/simple-microservice-example/ApiGateway/
ExecStart=npm run start
Restart=always

[Install]
WantedBy=multi-user.target
